* {
    margin: 3px;
    padding: 0;
}
h2 {
    font: normal 170% 'century gotic',Arial;
    text-align: center;

}
body {
    background:#CCCCCC;
    width: 768px;
    height: 828px;
}
hr {
    color: darkgrey;
    border: 1px solid #CCCCCC;
}
h3 {
    font: normal 100% 'Arial';
    color: darkgrey;
}
p {
    font: normal 100% 'Arial';
    color: black;
}
#gray {
    background: rgba(1, 1, 1, 0.75);
    display: none;
    z-index: 100;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.about\.im {
    text-align: left;
    text-decoration: none;
}

.about\.im img{
    float: left;
    width: 400px;
    height: 255px;
    left: 104px;
    top: 211px;
}
.img_blok img{
    width: 229px;
    height: 142px;
    border: 1px solid #CCCCCC;
}
.window {
    width: 619px;
    height: 425px;
    background: #ffffff;
    left: 74px;
    top: 81px;
    position: absolute;
}
.forms {
    width: 15px;
    text-align: center;
    margin: -1px;
}
.input {
    width: 403px;
    height: 30px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 5px;
    text-orientation: initial;
}
.close {
    margin: 10px 0 0 590px;
    cursor: pointer;
    position: absolute;

}
.footer h2{
    text-decoration: none;
    font: normal 70% 'century gotic', Arial;

}
